{% extends 'travel/layout.html' %}
{% load static %}
{% block body %}

{% if message %}
    <div class="alert alert-warning" role="alert">
        {{message}}
      </div>
{% endif %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="container mt-5 ">
            <h1 class="text-center mb-3">Sign In</h1>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" class="form-control mb-3" placeholder="Username"> 
                <input type="password" name="password" class="form-control mb-3" placeholder="Password">
                <input type="submit" class="btn btn-primary mb-3">
            </form>
            <span class="text-muted">If you don't have account <a href="{% url 'register' %}">register</a></span>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>




{% endblock %}